@import "../../mixins";

.price_container{
    text-align: center;
    margin-top: 30px;

    .title{
        &>*{
            color: #fff;
        }

        h1{
            margin-bottom: 10px;
        }
    }

    .price_items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
    }
}


@media only screen and (max-width: 1011px){
    .price_container{
        .price_items{
            flex-direction: column;

            & > * {
                margin: 30px 0px;
            }
        }
    }
}